.app-shell {
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}


/* CORPO */
.app-body {
    flex: 1;
    display: flex;
    align-items: stretch;
    gap: 16px;
    padding: 0 20px 20px 8px;
}

/* SIDEBAR */
.app-sidebar {
    width: 250px;
    background: #1c1c1c;
    /* preto suave */
    color: #ffffff;
    padding: 18px 14px;
    border-radius: 12px;
    margin-top: 0px;
    box-shadow: none;
}

/* CONTEÚDO */
.app-main {
    flex: 1;
    background: #ffffff;
    padding: 24px 8px 24px 0;
}